body { display: flex; flex-wrap: wrap; font-family: serif; } header { flex-basis: 100%; flex-shrink: 0; } article { flex-basis: 80%; padding-left: 1em; }
footer { flex-basis: 100%; flex-shrink: 0; }
header nav { display: flex; justify-content: space-between; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }
body > nav { flex-basis: content; padding-right: 1vw; min-width: 16em; }
nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }
footer { display: flex; justify-content: space-between; }

/* cut here to leave vanity behind */

:root {
  --darkest: #0f380f;
  --dark: #306230;
  --light: #8bac0f;
  --lightest: #9bbc0f;
}

body { margin:0; padding: 0; font-size: 100%; font-family: "Press Start 2P", sans-serif; color:var(--dark);}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.thisPage { color: black; }

/* header and top bar */
header nav { padding: 0.3em; font-size: 91%; }

header h1 {
	margin: 0;
	font-weight: normal;
	pasolid blackding: 0.25ex;
	font-size: 185%;
	text-shadow: .1rem .15rem var(--darkest);
}

header h1 #headerSubTitle { text-shadow: 0 0; }
header a:hover { text-decoration: none; }

/* sidebar */
body { background-color:var(--light); }
body > nav > div a { display: block; padding: 0.25em 1ex 0.25em 2mm; font-size: 98%}
body > nav > div a:hover { border-left: var(--darkest) solid 0.2em; text-decoration: none; }
body > nav > div p { margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
article { padding: 0.5ex 0 6em 1vw;  }
article h1, article h2 { font-weight: bold; margin: 1.5em 0 0 0; border-bottom: 2px solid; }
article h3, article h4, article h5 { font-weight: bold; margin: 2em 0 0 0; }
article h6, article h7, article h8 { font-weight: bold; margin: 2em 0 0 0; }
article pre { font-size: 1.2em; }
p { padding: 1em; }

/* footer */
footer { background-color:var(--light); bottom:0; width: 100%; }
footer a { color: inherit; }
footer div { padding: 1em; }

/* tables */
table { border: 1px solid rgba(128,128,128,0.5); padding: 0; }
th { color: white; background-color: rgb(100,135,220); }
tr:nth-child(odd) { background-color: rgba(128,128,128,0.1)  }

.container {
  position: relative;
  height: auto;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 4px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  header { font-size: 92%}
  footer { font-size: 79%}
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  header { font-size: 64%}
  footer { font-size: 49%}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* frontpage carousel ; credit: https://codepen.io/ancaspatariu/pen/WpQYOP */

.carousel {
    margin-left: 10%;
    margin-right: 10%;
}

ul.slides {
    display: block;
    position: relative;
    height: 74vh;
    width: 74vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 74vh;
    height: 74vh;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}  

.slide-image img {
    min-width: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 200%;
    line-height: 50vh;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 10px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
    height: 50vh;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark);
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }

@media only screen and (max-width: 800px) {
    ul.slides {
        height: 74vw;
        width: 74vw;
    }

    .slide-image {
        width: 74vw;
        height: 74vw;
    }
}


